[BuilderBlock]
label = "Benefits"
category = "Theme Blocks Career"
icon = "fa fa-bars"
==
<!-- Benefits -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="mx-auto text-center lg:col-8">
        <h2>Competitive salary</h2>
        <p class="mt-4">
          Pellentesque in ipsum id orci porta dapibus. Lorem ipsum dolor amet,
          consectetur adipiscing elit. Praesent sapien massa, convallis a
          pellentesque
        </p>
      </div>
    </div>
    <div class="row mt-14 text-center">
      <div class="mb-10 sm:col-6 lg:col-4">
        <img
          class="mx-auto"
          src="/themes/pkurg-pinwheel-tailwind/assets/images/career/icon-1.png"
          width="100"
          h="90"
          alt=""
        />
        <h3 class="h4 mt-8 mb-4">Competitive salary</h3>
        <p>
          Nulla porttitor acmsan tinci dunt. posuere cubilia Cudfrae Donec velit
          neque, autor sit amet aliuam vel
        </p>
      </div>
      <div class="mb-10 sm:col-6 lg:col-4">
        <img
          class="mx-auto"
          src="/themes/pkurg-pinwheel-tailwind/assets/images/career/icon-2.png"
          width="100"
          h="90"
          alt=""
        />
        <h3 class="h4 mt-8 mb-4">100% remote</h3>
        <p>
          Nulla porttitor acmsan tinci dunt. posuere cubilia Cudfrae Donec velit
          neque, autor sit amet aliuam vel
        </p>
      </div>
      <div class="mb-10 sm:col-6 lg:col-4">
        <img
          class="mx-auto"
          src="/themes/pkurg-pinwheel-tailwind/assets/images/career/icon-3.png"
          width="100"
          h="90"
          alt=""
        />
        <h3 class="h4 mt-8 mb-4">Unlimited PTO</h3>
        <p>
          Nulla porttitor acmsan tinci dunt. posuere cubilia Cudfrae Donec velit
          neque, autor sit amet aliuam vel
        </p>
      </div>
      <div class="mb-10 sm:col-6 lg:col-4">
        <img
          class="mx-auto"
          src="/themes/pkurg-pinwheel-tailwind/assets/images/career/icon-4.png"
          width="100"
          h="90"
          alt=""
        />
        <h3 class="h4 mt-8 mb-4">Flexible hours</h3>
        <p>
          Nulla porttitor acmsan tinci dunt. posuere cubilia Cudfrae Donec velit
          neque, autor sit amet aliuam vel
        </p>
      </div>
      <div class="mb-10 sm:col-6 lg:col-4">
        <img
          class="mx-auto"
          src="/themes/pkurg-pinwheel-tailwind/assets/images/career/icon-5.png"
          width="100"
          h="90"
          alt=""
        />
        <h3 class="h4 mt-8 mb-4">Medical insurance</h3>
        <p>
          Nulla porttitor acmsan tinci dunt. posuere cubilia Cudfrae Donec velit
          neque, autor sit amet aliuam vel
        </p>
      </div>
      <div class="mb-10 sm:col-6 lg:col-4">
        <img
          class="mx-auto"
          src="/themes/pkurg-pinwheel-tailwind/assets/images/career/icon-6.png"
          width="100"
          h="90"
          alt=""
        />
        <h3 class="h4 mt-8 mb-4">Career growth</h3>
        <p>
          Nulla porttitor acmsan tinci dunt. posuere cubilia Cudfrae Donec velit
          neque, autor sit amet aliuam vel
        </p>
      </div>
    </div>
  </div>
</section>
<!-- ./ end Benefits -->