[BuilderBlock]
label = "Banner"
category = "Theme Blocks"
icon = "fa fa-bars"
==
<!-- Banner -->
<section class="section banner relative">
  <div class="container">
    <div class="row items-center">
      <div class="lg:col-6">
        <h1 class="banner-title">
          Scale design & dev operations with Avocode Enterprise
        </h1>
        <p class="mt-6">
          A fully integrated suite of authentication & authoriz products,
          Stytch’s platform removes the headache of.
        </p>
        <a class="btn btn-white mt-8" href="#">Download The Theme</a>
      </div>
      <div class="lg:col-6">
        <img
          class="w-full object-contain"
          src="/themes/pkurg-pinwheel-tailwind/assets/images/banner-img.png"
          width="603"
          height="396"
          alt=""
        />
      </div>
    </div>
  </div>
  <img
    class="banner-shape absolute -top-28 right-0 -z-[1] w-full max-w-[30%]"
    src="/themes/pkurg-pinwheel-tailwind/assets/images/banner-shape.svg"
    alt=""
  />
</section>
<!-- ./end Banner -->