[BuilderBlock]
label = "Key features"
category = "Theme Blocks"
icon = "fa fa-bars"
==
<!-- Key features -->
<section class="section key-feature relative">
  <img
    class="absolute left-0 top-0 -z-[1] -translate-y-1/2"
    src="/themes/pkurg-pinwheel-tailwind/assets/images/icons/feature-shape.svg"
    alt=""
  />
  <div class="container">
    <div class="row justify-between text-center lg:text-start">
      <div class="lg:col-5">
        <h2>The Highlighting Part Of Our Solution</h2>
      </div>
      <div class="mt-6 lg:col-5 lg:mt-0">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi egestas
          Werat viverra id et aliquet. vulputate egestas sollicitudin .
        </p>
      </div>
    </div>
    <div
      class="key-feature-grid mt-10 grid grid-cols-2 gap-7 md:grid-cols-3 xl:grid-cols-4"
    >
      <div
        class="flex flex-col justify-between rounded-lg bg-white p-5 shadow-lg"
      >
        <div>
          <h3 class="h4 text-xl lg:text-2xl">Live Caption</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        </div>
        <span class="icon mt-4">
          <img
            class="objec-contain"
            src="/themes/pkurg-pinwheel-tailwind/assets/images/icons/feature-icon-1.svg"
            alt=""
          />
        </span>
      </div>
      <div
        class="flex flex-col justify-between rounded-lg bg-white p-5 shadow-lg"
      >
        <div>
          <h3 class="h4 text-xl lg:text-2xl">Smart Reply</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        </div>
        <span class="icon mt-4">
          <img
            class="objec-contain"
            src="/themes/pkurg-pinwheel-tailwind/assets/images/icons/feature-icon-2.svg"
            alt=""
          />
        </span>
      </div>
      <div
        class="flex flex-col justify-between rounded-lg bg-white p-5 shadow-lg"
      >
        <div>
          <h3 class="h4 text-xl lg:text-2xl">Sound Amplifier</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        </div>
        <span class="icon mt-4">
          <img
            class="objec-contain"
            src="/themes/pkurg-pinwheel-tailwind/assets/images/icons/feature-icon-3.svg"
            alt=""
          />
        </span>
      </div>
      <div
        class="flex flex-col justify-between rounded-lg bg-white p-5 shadow-lg"
      >
        <div>
          <h3 class="h4 text-xl lg:text-2xl">Gesture Navigation</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        </div>
        <span class="icon mt-4">
          <img
            class="objec-contain"
            src="/themes/pkurg-pinwheel-tailwind/assets/images/icons/feature-icon-4.svg"
            alt=""
          />
        </span>
      </div>
      <div
        class="flex flex-col justify-between rounded-lg bg-white p-5 shadow-lg"
      >
        <div>
          <h3 class="h4 text-xl lg:text-2xl">Dark Theme</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        </div>
        <span class="icon mt-4">
          <img
            class="objec-contain"
            src="/themes/pkurg-pinwheel-tailwind/assets/images/icons/feature-icon-5.svg"
            alt=""
          />
        </span>
      </div>
      <div
        class="flex flex-col justify-between rounded-lg bg-white p-5 shadow-lg"
      >
        <div>
          <h3 class="h4 text-xl lg:text-2xl">Privacy Controls</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        </div>
        <span class="icon mt-4">
          <img
            class="objec-contain"
            src="/themes/pkurg-pinwheel-tailwind/assets/images/icons/feature-icon-6.svg"
            alt=""
          />
        </span>
      </div>
      <div
        class="flex flex-col justify-between rounded-lg bg-white p-5 shadow-lg"
      >
        <div>
          <h3 class="h4 text-xl lg:text-2xl">Location Controls</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        </div>
        <span class="icon mt-4">
          <img
            class="objec-contain"
            src="/themes/pkurg-pinwheel-tailwind/assets/images/icons/feature-icon-7.svg"
            alt=""
          />
        </span>
      </div>
      <div
        class="flex flex-col justify-between rounded-lg bg-white p-5 shadow-lg"
      >
        <div>
          <h3 class="h4 text-xl lg:text-2xl">Security Updates</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        </div>
        <span class="icon mt-4">
          <img
            class="objec-contain"
            src="/themes/pkurg-pinwheel-tailwind/assets/images/icons/feature-icon-8.svg"
            alt=""
          />
        </span>
      </div>
      <div
        class="flex flex-col justify-between rounded-lg bg-white p-5 shadow-lg"
      >
        <div>
          <h3 class="h4 text-xl lg:text-2xl">Focus Mode</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        </div>
        <span class="icon mt-4">
          <img
            class="objec-contain"
            src="/themes/pkurg-pinwheel-tailwind/assets/images/icons/feature-icon-9.svg"
            alt=""
          />
        </span>
      </div>
      <div
        class="flex flex-col justify-between rounded-lg bg-white p-5 shadow-lg"
      >
        <div>
          <h3 class="h4 text-xl lg:text-2xl">Family Link</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        </div>
        <span class="icon mt-4">
          <img
            class="objec-contain"
            src="/themes/pkurg-pinwheel-tailwind/assets/images/icons/feature-icon-10.svg"
            alt=""
          />
        </span>
      </div>
    </div>
  </div>
</section>
<!-- ./end Key features -->