[BuilderBlock]
label = "Changelogs"
category = "Theme Blocks Changelogs"
icon = "fa fa-bars"
==
<section class="section changelogs pt-0">
  <div class="container">
    <div class="row justify-center">
      <div class="lg:col-10">
        <div class="row mb-10 lg:mt-0">
          <div class="lg:col-3">
            <h6 class="mb-4 pl-7 text-lg lg:mt-0 lg:pl-0">
              13.3.1 (Octobor 15,2020)
            </h6>
          </div>
          <div class="border-border lg:col-9 lg:border-l lg:pl-10 lg:pb-10">
            <div
              class="changelogs-content rounded-xl bg-white p-6 shadow-lg lg:p-10"
            >
              <span class="changelogs-tag bg-[#3A9CFF]">Changed</span>
              <ul>
                <li>
                  Enhance or improve <span>User experience</span>, our Site, or
                  our Service.
                </li>
                <li>Process transactions.</li>
                <li>
                  Send emails about our
                  <span>Site or respond to</span> inquiries.
                </li>
                <li>
                  Send emails and updates about Conclude,
                  <span>including to amended legal</span> documents
                </li>
              </ul>
              <span class="changelogs-tag bg-[#00CE92]">Added</span>
              <ul>
                <li>
                  Enhance or improve <span>User experience</span>, our Site, or
                  our Service.
                </li>
                <li>Process transactions.</li>
                <li>
                  Send emails about our
                  <span>Site or respond to</span> inquiries.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row mb-10 lg:mt-0">
          <div class="lg:col-3">
            <h6 class="mb-4 pl-7 text-lg lg:mt-0 lg:pl-0">
              13.3.1 (Octobor 15,2020)
            </h6>
          </div>
          <div class="border-border lg:col-9 lg:border-l lg:pl-10 lg:pb-10">
            <div
              class="changelogs-content rounded-xl bg-white p-6 shadow-lg lg:p-10"
            >
              <span class="changelogs-tag bg-[#973CFF]">Removed</span>
              <ul>
                <li>
                  Enhance or improve <span>User experience</span>, our Site, or
                  our Service.
                </li>
                <li>Process transactions.</li>
                <li>
                  Send emails about our
                  <span>Site or respond to</span> inquiries.
                </li>
                <li>
                  Send emails and updates about Conclude,
                  <span>including to amended legal</span> documents
                </li>
              </ul>
              <span class="changelogs-tag bg-[#9C275F]">Security</span>
              <ul>
                <li>
                  Enhance or improve <span>User experience</span>, our Site, or
                  our Service.
                </li>
                <li>Process transactions.</li>
                <li>
                  Send emails about our
                  <span>Site or respond to</span> inquiries.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row mb-10 lg:mt-0">
          <div class="lg:col-3">
            <h6 class="mb-4 pl-7 text-lg lg:mt-0 lg:pl-0">
              13.3.1 (Octobor 15,2020)
            </h6>
          </div>
          <div class="border-border lg:col-9 lg:border-l lg:pl-10">
            <div
              class="changelogs-content rounded-xl bg-white p-6 shadow-lg lg:p-10"
            >
              <span class="changelogs-tag bg-primary">Depriciated</span>
              <ul>
                <li>
                  Enhance or improve <span>User experience</span>, our Site, or
                  our Service.
                </li>
                <li>Process transactions.</li>
                <li>
                  Send emails about our
                  <span>Site or respond to</span> inquiries.
                </li>
                <li>
                  Send emails and updates about Conclude,
                  <span>including to amended legal</span> documents
                </li>
              </ul>
              <span class="changelogs-tag bg-[#973CFF]">Removed</span>
              <ul>
                <li>
                  Enhance or improve <span>User experience</span>, our Site, or
                  our Service.
                </li>
                <li>Process transactions.</li>
                <li>
                  Send emails about our
                  <span>Site or respond to</span> inquiries.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>