[BuilderBlock]
label = "Works"
category = "Theme Blocks About"
icon = "fa fa-bars"
==
<!-- Works -->
<section class="section">
  <div class="container">
    <div class="row items-center justify-between">
      <div class="md:col-5">
        <h2 class="text-center md:text-left">
          The six core work <br />
          drive everything do
        </h2>
      </div>
      <div class="mt-6 text-center md:col-3 md:mt-0 md:text-right">
        <a class="btn btn-primary" href="#">Download The Theme</a>
      </div>
    </div>
    <div class="row mt-14">
      <div class="mb-8 sm:col-6 lg:col-4">
        <div class="rounded-xl bg-white p-6 shadow-lg lg:p-8">
          <div class="gradient-number relative inline-block">
            <span
              class="bg-gradient absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
              >01</span
            >
            <img src="/themes/pkurg-pinwheel-tailwind/assets/images/gradient-number-bg.svg" alt="" />
          </div>
          <h4 class="my-6">Accessibility</h4>
          <p>
            Nulla porttitor acmsan tinci dunt. posuere cubilia Cudfrae Donec
            velit neque, autor sit amet aliuam vel
          </p>
        </div>
      </div>
      <div class="mb-8 sm:col-6 lg:col-4">
        <div class="rounded-xl bg-white p-6 shadow-lg lg:p-8">
          <div class="gradient-number relative inline-block">
            <span
              class="bg-gradient absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
              >02</span
            >
            <img src="/themes/pkurg-pinwheel-tailwind/assets/images/gradient-number-bg.svg" alt="" />
          </div>
          <h4 class="my-6">Empowerement</h4>
          <p>
            Nulla porttitor acmsan tinci dunt. posuere cubilia Cudfrae Donec
            velit neque, autor sit amet aliuam vel
          </p>
        </div>
      </div>
      <div class="mb-8 sm:col-6 lg:col-4">
        <div class="rounded-xl bg-white p-6 shadow-lg lg:p-8">
          <div class="gradient-number relative inline-block">
            <span
              class="bg-gradient absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
              >03</span
            >
            <img src="/themes/pkurg-pinwheel-tailwind/assets/images/gradient-number-bg.svg" alt="" />
          </div>
          <h4 class="my-6">Innovation</h4>
          <p>
            Nulla porttitor acmsan tinci dunt. posuere cubilia Cudfrae Donec
            velit neque, autor sit amet aliuam vel
          </p>
        </div>
      </div>
      <div class="mb-8 sm:col-6 lg:col-4">
        <div class="rounded-xl bg-white p-6 shadow-lg lg:p-8">
          <div class="gradient-number relative inline-block">
            <span
              class="bg-gradient absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
              >04</span
            >
            <img src="/themes/pkurg-pinwheel-tailwind/assets/images/gradient-number-bg.svg" alt="" />
          </div>
          <h4 class="my-6">Excellence</h4>
          <p>
            Nulla porttitor acmsan tinci dunt. posuere cubilia Cudfrae Donec
            velit neque, autor sit amet aliuam vel
          </p>
        </div>
      </div>
      <div class="mb-8 sm:col-6 lg:col-4">
        <div class="rounded-xl bg-white p-6 shadow-lg lg:p-8">
          <div class="gradient-number relative inline-block">
            <span
              class="bg-gradient absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
              >05</span
            >
            <img src="/themes/pkurg-pinwheel-tailwind/assets/images/gradient-number-bg.svg" alt="" />
          </div>
          <h4 class="my-6">Team work</h4>
          <p>
            Nulla porttitor acmsan tinci dunt. posuere cubilia Cudfrae Donec
            velit neque, autor sit amet aliuam vel
          </p>
        </div>
      </div>
      <div class="mb-8 sm:col-6 lg:col-4">
        <div class="rounded-xl bg-white p-6 shadow-lg lg:p-8">
          <div class="gradient-number relative inline-block">
            <span
              class="bg-gradient absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
              >06</span
            >
            <img src="/themes/pkurg-pinwheel-tailwind/assets/images/gradient-number-bg.svg" alt="" />
          </div>
          <h4 class="my-6">Responsibility</h4>
          <p>
            Nulla porttitor acmsan tinci dunt. posuere cubilia Cudfrae Donec
            velit neque, autor sit amet aliuam vel
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ./end Works -->